DATABASE_URL=postgresql://user:password@localhost:5432/xxxxxxxx

RESEND_API_KEY=re_xxxxxxxxxxxx
RESEND_FROM_EMAIL=bonjour@tonemail.fr

STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxx
STRIPE_PRICE_ID=price_xxxxxxxxxxxx
STRIPE_PRICE_PRO=price_xxxxxxxxxxxx
STRIPE_PRICE_STRUCTURE=price_xxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxx

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxx
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=xxxxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxx


ADMIN_PASSWORD=xxxxx
ADMIN_SECRET=xxxxx

SUPABASE_SERVICE_ROLE_KEY=xxxxxx

OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
